*.pdf
.vscode
result

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status
out*/
sig/
sorbet/

# python sideshit
*.py
python/
.ruff_cache